*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul,ol,menu{
    list-style: none;
    color: currentColor;
}

body{
    background-color: lightgray;
}

.container_head{
    background-color: white;
    display: block;
    border-radius: 5px;
}

.logo{
    display: inline-block;
    vertical-align: middle;
}

.padding_head{
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
}

.container_head h1{
    display: inline-block;
    vertical-align: middle;
    font-size: 40px;
}

.container_main{
    margin: 0 auto;
    height: 700px;
    max-width: 750px;
    background-color: white;
    border-radius: 10px;
    margin-top: 40px;
    
}

.padding_button{
    padding-top: 15px;
    padding-left: 40px;
    padding-bottom: 15px;
}

.ATask{
    background-color: #5f8cff;
    color: white;
    border: solid 1px;
    border-radius: 2px;
    padding:5px;
    margin: auto;
}
.Asection{
    background-color: white;
    color: lightgrey;
    border: lightgrey solid 1px;
    border-radius: 2px;
    padding:5px;
    margin: auto;

}

.punto{
    margin-top: 10px;
    padding-left: 40px;
}


.check{
    border: 2px solid green;
    border-radius: 100%;
    color: green;
}
.cross{
    border: 2px solid red;
    border-radius: 100%;
    color: red;
}

.circle{
    color: white;
    border-radius:10px ;
    font-size: 10px;
    padding:6px ;
    margin: 10px;
}

.blue{
    background-color: #5f8cff;
}
.violet{
    background-color: #9361ff;
}
.green{
    background-color: #00ffb3;
}
.orange{
    background-color: #ffb700;
}
.pink{
    background-color: fuchsia;
}

li{
    padding-bottom: 10px;
}